<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecSpares.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RecSpares.Properties.Settings>
            <setting name="JobFilePath" serializeAs="String">
                <value>C:\\Users\\CJT\\OneDrive\\Documents\\RecSpares\\RecSpares.xlsx</value>
            </setting>
            <setting name="MasterFilePath" serializeAs="String">
                <value>C:\\Users\\CJT\\OneDrive\\Documents\\RecSpares\\RecSpares.xlsx</value>
            </setting>
            <setting name="AllJobsFilePath" serializeAs="String">
                <value>C:\\Users\\CJT\\OneDrive\\Documents\\RecSpares\\RecSpares.xlsx</value>
            </setting>
        </RecSpares.Properties.Settings>
    </userSettings>
</configuration>